section {
    padding: 5px 20px;
    background-color: #e8e8e4;
    border-radius: 12px;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

form {
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.dictionary {
    max-width: 40%;
    margin: 0 auto;
}

.phoneticText{
    color: grey;
    position: relative;
    left: 35px;
    top: -25px;
}