.synonyms {
    border-collapse: separate;
}

.list-group-item {
    margin: 0px 1px;
    font-size: x-small;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset;
    border-collapse: separate !important;
}

.synonymsHeader{
    color:rgb(85%, 62%, 36%);
    font-size: small;
}